<% provide(:title, "サポート&ニュース") %>

<div class="row justify-content-center">
  <div class="col-md-10">
    <section class="news">
      <span>2019-07-10</span>
      <h3>小説投稿サイト「ビブリオテック」を開設しました！</h3>
      <p>誰もが気軽に投稿したり、読んだりできるサイトです。</p>
      <p>皆様に、快適な環境を提供していきます。今後とも、どうかよろしくお願い致します。</p>
    </section>
  </div>
</div>