<% provide(:title, "検索結果") %>

<h1>検索にヒットした小説</h1>

<% if @novels.any? %>
  <div class="col-md-10 col-md-offset-1">
    <h3>小説 (<%= @novels.count %>)</h3>
    <ul class="novels">
      <%= render @novels %>
    </ul>
  </div>
<% else %>
  <h3>検索内容は見つかりませんでした。</h3>  
<% end %>