<li>
  <span class="story_title"><%= link_to story.title, novel_story_path(story.novel.id, story.id) %></span>
  <span class="story_create_time"><%= story.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
  <% if current_user == story.novel.user %>
    <span class="edit_delete"><%= link_to "編集",
                               edit_novel_story_path(story.novel.id, story.id) %> | <%= link_to "削除", 
                                                                                     novel_story_path(story.novel.id, story.id),
                                                                                     method: :delete,
                                                                                     data: { confirm: "本当によろしいですか？" } %></span>
  <% end %>
</li>