<% provide(:title, @story.title) %>

<h1><%= @novel.title %></h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="story_contents">
      <h3><%= @story.title %></h3>
      <p class="story_text">
        <%= simple_format @story.text %>
      </p>
    </div>
  </div>
</div>