<% provide(:title, @story.title) %>

<h1><%= @novel.title %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="story_contents">
      <h3><%= @story.title %></h3>
      <span>
        <%= simple_format @story.text %>
      </span>
    </div>
  </div>
</div>