@import "bootstrap";
@import "summernote-bs4";

h1 {
  text-align: center;
}

.membership {
  border-top: medium solid #0000ff;
  margin-top: 40px;
}

.discription {
  margin-top: 30px;
  padding: 20px;
  border: 5px solid #99FFFF;
}

.main {
  margin-top: 140px;
}

// user

.review_novel {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .review_title_name {
    font-size: 110%;
    font-weight: bold;
  }
  .review_user {
    margin-left: 10px;
  }
  .review_text_field {
    display: block;
    margin-top: 10px;
  }
  .edit_delete {
    float: right;
  }
  .novel_user {
    display: block;
    color: #6c757d;
  }
  .novel_information {
    background-color: #DDFFFF;
  .update_date {
    margin-right: 10px;
  }
  }
}

// novels

.novels {
  list-style: none;
  li {
    padding: 10px 0px;
    border-top: 1px solid #C0C0C0;
  }
  .novel_user {
    display: block;
    color: #6c757d;
  }
  .novel_outline {
    display: block;
  }
  .novel_information {
    background-color: #DDFFFF;
  .update_date {
    margin-right: 10px;
  }
  }
}

.author {
  float: right;
}

.novel_image {
  text-align: center;
}

#contents_field {
  margin-top: 70px;
  .story_create_time {
    float: right;
  }
  .edit_delete {
    margin-right: 10px;
  }
}

#reviews_field {
  margin-top: 70px;
}

#infomation_field {
  margin-top: 70px;
  h4 {
    border-top: 1px solid #C0C0C0;
    padding-top: 30px;
  }
  dt {
    float: left;
  }
  dt::after {
    content: ": "
  }
}

#author_field {
  margin-top: 70px;
  .novel_information {
    background-color: #DDFFFF;
  .update_date {
    margin-right: 10px;
  }
  }
}

#outline_field {
  margin-top: 70px;
  h3 {
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}

// notes

.notes {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .timestamp {
    color: #6c757d;
  }
  .notetitle {
    margin-left: 50px;
  }
  .edit_delete {
    float: right;
  }
}

.note_timestamp {
  float: right;
}

.back {
  margin-top: 100px;
  float: right;
}

// stories

.stories {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .story_title {
    margin-left: 50px;
  }
  .edit_delete {
    float: right;
  }
}

.story_contents {
  .story_text {
    margin-top: 40px;
  }
}

// reviews

.reviews {
  list-style: none;
  li {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .review_title_name {
    font-size: 110%;
    font-weight: bold;
  }
  .review_user {
    margin-left: 10px;
  }
  .review_text_field {
    display: block;
    margin-top: 10px;
  }
  .edit_delete {
    float: right;
  }
}

.review_title {
  margin-top: 30px;
}

.review_text {
  margin-top: 30px;
}

// favorites

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .novel_user {
    display: block;
    color: #6c757d;
  }
  .novel_outline {
    display: block;
  }
  .novel_information {
    background-color: #DDFFFF;
  }
}

// search

.from_genre {
  margin-top: 60px;
  ul {
    display: flex;
    li {
      display: flex;
      margin: 5px;
      background: #DDFFFF;
    }
  }
}

.from_complete_or_incomplete {
  margin-top: 60px;
  ul {
    display: flex;
    li {
      display: flex;
      margin: 5px;
      background: #DDFFFF;
    }
  }
}

.from_word {
  margin-top: 30px;
  padding: 20px;
  border: 5px solid #99FFFF;
}

// home_page

.ranking {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .novel_user {
    display: block;
    color: #6c757d;
  }
  .novel_information {
    background-color: #DDFFFF;
  .update_date {
    margin-right: 10px;
  }
  }
}

// new_episode_message_box

.new_message_box {
  margin-top: 30px;
  border-top: 1px solid #C0C0C0;
}

.new_message_box_list {
  margin-top: 20px;
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #C0C0C0;
  }
  .novel_user {
    display: block;
    color: #6c757d;
  }
  .novel_outline {
    display: block;
  }
  .novel_information {
    background-color: #DDFFFF;
  }
}

// help

.news {
  h3 {
    font-weight: bold;
  }
  p {
    margin-top: 20px;
    font-size: 120%;
  }
}

// footer

html,body{
  height:100%;
}

footer {
  background-color: #99FFFF;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
}

.footer_link {
  text-align: center;
}

#wrap{
  width: 100%;
  position: relative;
  min-height: 100%;
}

// about_page

.about_read {
  margin-top: 40px;
  
  ul {
    margin-top: 30px;
    li {
      margin-top: 50px;
    }
  }
}

.about_post {
  p {
    margin-top: 30px;
  }
} 

.about_message {
  margin-top: 80px;
  margin-bottom: 40px;
}

.twitter_link {
  float: right;
}