<footer class="footer">
  <nav> 
    <section class="footer_section">
      <ul>
        <li><%= link_to "ヘルプ・お問い合わせ", '#' %></li>
      </ul>
      <a href="https://twitter.com/f0LMhsvhVJF5Zof?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @f0LMhsvhVJF5Zof</a>
    </section>
  </nav>
</footer>  