<footer>
  <div class="container">
    <p class="footer_link"><%= link_to "ヘルプ・お問い合わせ", help_path, class: "nav-link" %></p>
    <p class="footer_link">
      <a href="https://twitter.com/f0LMhsvhVJF5Zof?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @f0LMhsvhVJF5Zof</a>
    </p>
  </div>
</footer>