<footer>
  <div class="container">
    <nav class="navbar navbar-expand-md nabvar-light" style="background-color: #99FFFF;"> 
      <section class="footer_section">
        <ul class="nabvar-nav">
          <li class="nav-item"><%= link_to "ヘルプ・お問い合わせ", help_path, class: "nav-link" %></li>
          <a href="https://twitter.com/f0LMhsvhVJF5Zof?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @f0LMhsvhVJF5Zof</a>
        </ul>
      </section>
    </nav>
  </div>
</footer>